*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 340px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0;
    min-width: 100%;
  }
}
