*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 340px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0;
    min-width: 100%;
  }
}

/* RETINA */

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url('../img/hero_tablet_home@2x.jpg');
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url('../img/hero_tablet_home@2x.jpg');
  }
}

@media (min-width: 1280px) and (min-resolution: 192dpi),
  (min-width: 1280px) and (min-resolution: 2dppx) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url('../img/desktop_home@2x.jpg');
  }
}
