.five-days-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('../img/tablet_five_days.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  margin-bottom: 60px;
}

.five-days {
  padding-bottom: 32px;
}
