.header {
  padding-top: 32px;
}

.header-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 280px;
}

.header-icon-location,
.header-icon-star {
  position: absolute;
  width: 22px;
  height: 22px;
}

.header-icon-location {
  left: 20px;
}

.header-icon-star {
  right: 20px;
}

.header-input {
  padding: 15px 132px 16px 58px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 30px;

  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 4%;
}

.header-input:focus {
  outline: none;
  box-shadow: none;
}

.header-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #000000;
}

@media (min-width: 768px) {
  .header {
    padding-top: 60px;
  }

  .header-wrapper {
    width: 704px;
  }

  .header-input {
    padding: 13px 530px 13px 58px;
    font-size: 18px;
  }

  .header-input::placeholder {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-top: 80px;
  }

  .header-wrapper {
    width: 822px;
  }
}
