.weather-card {
  display: none;
  margin-top: 40px;
  margin-bottom: 32px;
  padding: 32px 55px 32px 55px;
  text-align: center;
  width: 100%;
  background-color: #102136;
  filter: drop-shadow(0px 5px 30px 0px rgba(16, 33, 54, 0.6));
  border-radius: 34px;
}

.weather-icon {
  margin-bottom: 4px;
  width: 35px;
  height: 35px;
}

.weather-location {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #767d85;
}

.weather-temp-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-temp {
  font-weight: 300;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 4%;
}

.temp-box {
  display: flex;
  align-items: center;
}

.temp-item:first-child {
  padding-right: 8px;
  border-right: 1px solid #27384a;
}

.temp-item:last-child {
  padding-left: 8px;
}

.temp-name {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #767d85;
}

.temp-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}
